<h2>All about <%= @pony.name %>!</h2>

<!-- <% if @pony.picture %>
  <%= image_tag(@pony.picture)  %>
<% end %> -->


<div class = "pony-info">
<div> <%= image_tag(pony_picture(@pony)) %>
  <ul>
    <li>Type: <%= @pony.kind %></li>
    <li>Cutie Mark: <%= @pony.cutie_mark %></li>
    <li>Residence: <%= @pony.address %></li>
    <li>Occupation: <%= @pony.occupation %></li>
  </ul>
    <p class = "home"><%= link_to "Home", root_path %></p>
</div>
</div>
