<h2>All about <%= @pony.name %>!</h2>

<div> <%= image_tag(pony_picture(@pony)) %>
<div>
  <ul>
    <li>Type: <%= @pony.kind %></li>
    <li>Cutie Mark: <%= @pony.cutie_mark %></li>
    <li>Residence: <%= @pony.address %></li>
    <li>Occupation: <%= @pony.kind %></li>
  <ul>
    <%= link_to "Home", root_path %>
<div>
